body {
    top: 0px;
    left: 0px;
    width: 1850px;
    height: 1359px;
    /* UI Properties */
    background: #FAFAFA 0% 0% no-repeat padding-box;
    opacity: 1;
}

.search-box {
    background: #f5f6f8;
    border-radius: 20px;
    padding: 6px 12px;
    width: 250px;
}

.notification-dot {
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 8px;
    background: red;
    border-radius: 50%;
}

.layout {
    display: flex;
    flex-direction: row;
}

/* Sidebar */
.sidebar {
    width: 240px;
    height: 1279px ;
    background: #ffffff;
    border-right: 1px solid #eee;
    padding: 20px 12px;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu li {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 14px;
    margin-bottom: 6px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    color: #555;
}

.sidebar-menu li img {
    width: 20px;
    height: 20px;
}

.sidebar-menu li:hover {
    background: #f5f6f8;
    color: #d93025;
}

.sidebar-menu li.active {
    background: #f5f6f8;

}

/* Content */
.content {
    flex: 1;
    background: #fafafa;
    min-height: calc(100vh - 64px);
    padding: 20px;
}

main {
    margin: 0;
    width: 1610px;
    height: 1279px;
    background: #FAFAFA;
    /* width: 70%; */
}

main .top-heading {
    margin-left: 30 px;
    margin-top: 30px;
}

.market-numbers {
    display: grid;
    margin: 30px;
    gap: 25px;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 90px;
        align-content: space-evenly;
}

.market-numbers div {
    background: white;
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 10px;
    /* align-items: center;
    justify-content: center;
    align-content: center; */
}

.market-numbers div img {
    width: 30px;
    height: 30px;
}
.market-numbers div p {
    text-align: left;
    font: normal normal medium 25px/33px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}
.charts{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    gap: 60px;
}
.chart1{
    top: 208px;
left: 292px;
width: 1085px;
height: 400px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
}
.chart2{
    top: 330px;
left: 1124px;
width: 385px;
height: 398px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
}
.chart1 img{
    top: 419px;
left: 398px;
width: 849px;
height: 234px;
position: absolute;
}
.chart1 p{
    top: 352px;
left: 321px;

/* UI Properties */
text-align: left;
font: normal normal medium 22px/29px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}
.chart1 span{
    top: 352px;
left: 903px;
width: 108px;
height: 16px;
/* UI Properties */
text-align: left;
font: normal normal normal 12px/16px Roboto;
letter-spacing: 0px;
color: #ADADAD;
opacity: 1;
}
table{
    margin-top: 70px;
    margin-left: 50PX;
    top: 658px;
left: 292px;
width: 1530px;
height: 558px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
}
table th{
    text-align: left;
font-weight: 600;
letter-spacing: 1.5px;
color: #ADADAD;
opacity: 1;
}

.form-group {
    padding: 10px;
}
.form-group img{
    height: 20px;
    width: 20px;
}

#innermain{
    margin: 40px;
}
div .mar12{
    display: flex;
    flex-direction: row;
}
div .mar123{
    display: flex;
    flex-direction: column;
}