body {
    top: 0px;
    left: 0px;
    width: 1850px;
    height: 1080px;

    background: #FAFAFA 0% 0% no-repeat padding-box;
    opacity: 1;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.section1 {
    width: 50%;
    height: 100%;
}

.section1 img {
    border-radius: 300px;
    top: 72px;
    left: 166px;
    width: 576px;
    height: 576px;
    position: relative;
    background: transparent url('img/Ellipse 2.png') 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 31px #0000000A;
    border: 20px solid #FFFFFF;
    border-radius: 300px;
    opacity: 1;
}

.container .section2 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    padding: 5px;


}

.container .section2 img {
    margin-top: 102px;
    margin-left: 150px;
    top: 106px;
    left: 300 px;
    width: 272px;
    height: 58px;

    opacity: 1;

}

#new0 {
    margin-left: 150px;
    top: 183px;
    left: 905px;
    width: 500px;
    height: 100px;
    text-align: left;
    font: normal normal 300 40px/47px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

#hop0 {
    top: 183px;
    left: 1036px;
    width: 137px;
    height: 53px;
    /* UI Properties */
    text-align: left;
    font: normal normal 900 40px/53px Roboto;
    letter-spacing: 0px;
    color: #C8242F;
    opacity: 1;
}

#hop {
    margin-left: 150px;
    top: 315px;
    left: 904px;
    width: 300px;
    height: 33px;
    text-align: left;
    font: normal normal normal 25px/33px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

.section2 .in1 {
    margin-left: 150px;
    top: 372px;
    left: 907px;
    width: 429px;
    height: 49px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    opacity: 1;
    margin-bottom: 20px;
}

#hop2 {
    margin-top: 3px;
    margin-left: 150px;

}

.section2 .btn {

    top: 527px;
    left: 906px;
    width: 138px;
    height: 45px;
    /* UI Properties */
    background: #C8242F 0% 0% no-repeat padding-box;
    border-radius: 23px;
    border: 1px solid red;
    opacity: 1;
    color: #FAFAFA;

}

#hop2 a {
    margin-left: 168px;
    top: 539px;
    left: 1214px;
    width: 121px;
    height: 20px;
    /* UI Properties */
    text-align: center;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #ADADAD;
    opacity: 1;
    text-decoration: none;
}

#hop2 span {
    text-align: center;
    top: 530px;
    left: 953px;
    width: 45px;
    height: 24px;
    /* UI Properties */

    font-size: medium;
    font-style: normal;
    font-weight: 100;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

#new {
    margin-top: 10px;
    margin-left: 150px;
    top: 495px;
    left: 906px;
    width: 260px;
    height: 20px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #ADADAD;
    opacity: 1;
}

#new a {
    color: #C8242F;
    text-decoration: none;
}

